<form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <h4 class="card-title">{{ title }}</h4>
    {% for field in form %}

        <div class="mb-3">
            <label
                    for=""
                    class="form-label">{{ field.label }}:
            </label>
            {% if field.field.is_checkbox %}
                {{ field }}
            {% else %}

                <label>
                    <input
                            type="{{ field.field.widget.input_type }}"
                            class="form-control"
                            name="{{ field.name }}"
                            aria-describedby="helpId"
                            placeholder="{{ field.label }}"
                            value="{{ field.value | default:'' }}">
                </label>

                <br>
            {% endif %}
        </div>
        <div class="col-12 help-text">
            {{ field.errors }}
        </div>
    {% endfor %}

    <input class="btn btn-success" type="submit" value="Agregar">
    <a class="btn btn-primary" href="{% url 'settings' %}" role="button">Cancelar</a>
</form>